<%- include("part/header"); -%>
<h1> Contact </h1>
<p> <%= contactcontent %></p>
<h3>Contact us on our helpline:</h3>
<h4>+12-488-456-446</h4>
<h3>Send your query on our mail.</h3>
<button class= "btn btn-primary" onclick="location.href='mailto:kaustubh5456@gmail.com';">send mail</button>
<%- include("part/footer"); -%>
